@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>


<address>
    Россия<br />
    Красноярский край, Красноярск<br />
    <abbr title="Phone">Телефон</abbr>
    8-800-555-35-35
</address>

<address>
    <strong>Поддержка</strong>   <a href="mailto:SupportHelpAdmissionIkit@gmail.ru">SupportHelpAdmissionIkit@gmail.ru</a><br />
    <strong>Пожелания</strong>   <a href="mailto:HelpAdmissionIkit@gmail.ru">HelpAdmissionIkit@gmail.ru</a><br />
        
</address>