
@{
    ViewBag.Title = "Администраторская часть";
}

<h2>Администраторская часть</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Изменение главной страницы</h2>
        @*<p>Здесь ты не можешь общаться</p>*@
        <p><a class="btn btn-default" href="EditingIndex1">Редактировать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Изменение содержания института</h2>
        @*<p>Здесь ты не можешь общаться</p>*@
        <p><a class="btn btn-default" href="EditingAbout">Редактировать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Изменение содержания контактов</h2>
        @*<p>Здесь ты не можешь общаться</p>*@
        <p><a class="btn btn-default" href="EditingContact">Редактировать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Изменение содержания форума</h2>
        @*<p>Здесь ты не можешь общаться</p>*@
        <p><a class="btn btn-default" href="EditingForum">Редактировать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Изменение содержания предметов</h2>
        @*<p>Здесь ты не можешь общаться</p>*@
        <p><a class="btn btn-default" href="../Subject/Index">Редактировать &raquo;</a></p>
    </div>
</div>


