@{
    ViewBag.Title = "Help Admission IKIT";
}

<div class="jumbotron">
    <h1>HelpAdmission IKIT</h1>
    <p class="lead">Проект сайта "HelpAdmission IKIT" предлагает курсы лекций выпускникам, помогающие решить любую задачу из профильного экзамена.</p>
    <p><a  class="btn btn-primary btn-lg" @Html.ActionLink("Начать обучение","Subject","Home") </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Институт космических и информационных технологий</h2>
        <p>
            Институт Космических и информационных технологий образован во исполнение решений Ученого совета СФУ от 28.06.2007г. и 10.09.2007г..
        </p>        
        <p><a class="btn btn-default" @Html.ActionLink("Узнать подробнее","About","Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Форум</h2>
        <p>Здесь ты не можешь общаться</p>
        <p><a class="btn btn-default" @Html.ActionLink("Перейти","Forum","Home") </a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>