
@{
    ViewBag.Title = "Предметы";
}
    <h2>Subject</h2>
    <div class="row">
        <div class="container object">

            <div id="main-container-image" style="opacity: 1;">

                <section class="work">
                    
                    <figure class="white">
                        <a href="../Mathematic/Mathematic">
                            <img src="/picture/i.jpg" alt="">
                            <dl>
                                <dt>Математика</dt>
                                <dd>Пройди курсы ЕГЭ профильного уровня по математике и сдай экзамены на все 100 баллов!</dd>
                            </dl>

                            <div id="wrapper-part-info">
                                <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                                <div id="part-info">Математика</div>
                            </div>

                        </a>
                    </figure>

                    <figure class="white">
                        <a href="../Information/InformationIndex" >
                            <img src="/picture/a.jpg" height="339" width="215">
                            <dl>
                                <dt>Информатика</dt>
                                <dd>Информатика - это здорово!</dd>
                            </dl>
                        </a>
                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="img/icon-font.svg" alt="" width="28" height="28"></div>
                            <div id="part-info">Информатика</div>
                        </div>
                    </figure>
                    <figure class="white">
                        <a href="../Physic/MainPagePhysic">
                            <img src="/picture/b.jpg" height="50" width="50">
                            <dl>
                                <dt>Физика</dt>
                                <dd></dd>
                            </dl>
                        </a>
                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="img/icon-font.svg" alt="" width="28" height="28"></div>
                            <div id="part-info">Физика</div>
                        </div>
                    </figure>                    
                   


                </section>

            </div>

        </div>
    </div>
