@*@{
    ViewBag.Title = "Курсы";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<body  background-color: #000000;>
    <h1><b>Об институте</b></h1>
<left>
    <h4>История</h4>
    <p>Институт Космических и информационных технологий образован в 2007 году по решению Ученого совета СФУ.
        В состав ИКИТ входят два факультета Красноярского технического университета:
        Факультет Информатики и Вычислительной Техники;
        Факультет Информатики и Процессов Управления.
        В настоящее время в ИКИТ работают более 200 преподавателей, из них 30 докторов наук, 98 кандидатов наук.
        Директором ИКИТ назначен доктор технических наук, профессор, Цибульский Геннадий Михайлович.
    </p>
    <h4>Структура</h4>
    <table>
        <caption>В состав института входят базовые и выпускающие кафедры:</caption>        
        <tr><th>Базовая кафедра Геоинформационные системы</th></tr>
        <tr><th>Базовая кафедра интеллектуальных систем управления</th></tr>
        <tr><th>Базовая кафедра информационных технологий на радиоэлектронном производстве</th></tr>            
            <tr><th>Базовая кафедра Экологическая информатика</th></tr>            
            <tr><th>Кафедра Высокопроизводительных вычислений</th></tr>           
            <tr><th>Кафедра Вычислительной техники</th></tr>            
            <tr><th>Кафедра Информатики</th></tr>            
            <tr><th>Кафедра Информационных систем</th></tr>           
            <tr><th>Кафедра Прикладной математики и компьютерной безопасности</th></tr>            
            <tr><th>Кафедра Разговорного иностранного языка</th></tr>
            <tr><th>Кафедра Систем автоматики, автоматизированного управления и проектирования</th></tr>
            <tr><th>Кафедра Систем искусственного интеллекта</th></tr>             
    </table>
    <h4>Наука</h4>
    <p>В институте ведется ряд научных исследований, занимающих передовые места в российской и мировой науке, связанные, прежде всего, с дистанционным зондированием Земли из космоса, разработкой алгоритмов для высокопроизводительных вычислений, оптимизацией управления спутниковыми системами и космическими аппаратами, созданием современных микропроцессорных систем.
        Для реализации и практического внедрения научных разработок институт обладает уникальным оборудованием, таким как кластерный суперкомпьютер, входящим в 50 лучших систем такого класса в России, центр приемки, хранения и обработки космических снимков земли, уникальным многопроцессорным компьютером RISK архитектуры IBM P6.
        В институте проводятся как прикладные, так и фундаментальные исследования. ИКИТ участвует в научно-технических программах международного и российского уровня.
    </p>
    <h4>Материально-техническая база</h4>
    <p>Поточные лекции на ИКИТ читаются в больших, просторных аудиториях, оснащенных досками прямой/обратной проекции, проекторами, а так же современной акустической системой, позволяющей комфортно слышать и усваивать материал лекций.

        В процессе обучения студенты имеют возможность работать в научно-учебных лабораториях, оснащенных современными учебно-научными комплексами. Для практических занятий студентам предоставляются 12 компьютерных классов, по 15 компьютеров в каждом.
        Специалисты и магистры в области прикладной математики, информатики и вычислительной техники, компьютерной безопасности с высшим образованием сегодня востребованы на рынке труда: 95% выпускников работают по специальности.
        Лекционные аудитории и компьютерные классы
        Локальная вычислительная сеть ИКИТ
        В процессе обучения студенты имеют возможность работать в научно-учебных лабораториях, оснащенных современными учебно-научными комплексами.
    </p>

    <iframe width="800" height="600" src="https://www.youtube.com/embed/7c_UBEfPfOQ" frameborder="0" allowfullscreen></iframe>
    <p><a class="btn btn-default" href="скепкепы">Перейти &raquo;</a>
    </p>
</left>            
</body>
