
@{
    ViewBag.Title = "InformationIndex";
}

<h2>InformationIndex</h2>
<div class="row">
    <div class="container object">

        <div id="main-container-image" style="opacity: 1;">

            <section class="work">

                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/kuKW-fm9fA4/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A2. Информационные модели ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/9eHdRSUClhg/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A4. Файловая система ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/t4y67dtFWos/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A6. Поиск и сортировка в БД ЕГЭ по информатике </div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/IckqTSEFu0w/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A7. Электронные таблицы ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/TJNgB-nTfBk/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A8. Кодирование звуковой информации</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/iusvLS0IjXI/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A9. Кодирование и декодирование данных</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/2c8cDFg6WOQ/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A11. Вычисление количества информации</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/plef20oApS4/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A12. Обработка массивов и матриц</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/GrL5mXgI_b0/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">B2. Операторы присваивания и ветвления</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
            <figure class="white">
                <a href="InformationLesson1">
                    <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>

                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                        <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                    </div>

                </a>
            </figure>
                <figure class="white">
                    <a href="InformationLesson1">
                        <img src="http://img.youtube.com/vi/U8uoQggXiio/0.jpg" alt="">
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                            <div id="part-info">A1. Cистемы счисления ЕГЭ по информатике</div>
                        </div>

                    </a>
                </figure>
             </section>

        </div>

    </div>
</div>

