
@{
    ViewBag.Title = "InformationLesson1";
}
<h2>InformationLesson1</h2>
<body >
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U8uoQggXiio?list=PLWpxuJBIZRlMCvaI96eyES8gsus4QAm44" frameborder="0" allowfullscreen></iframe>
</body>
