
@{
    ViewBag.Title = "Предметы";
}
    <h2>Subject</h2>
    <div class="row">
        <div class="container object">

            <div id="main-container-image" style="opacity: 1;">

                <section class="work">

                    <figure class="white">
                        <a href="Mathematic">
                            <img src="https://im0-tub-ru.yandex.net/i?id=87cc59d560caa4560f95db020019f486&n=33&h=215&w=339" alt="">
                            <dl>
                                <dt>Математика</dt>
                                <dd>Пройди курсы ЕГЭ профильного уровня по математике и сдай экзамены на все 100 баллов!</dd>
                            </dl>

                            <div id="wrapper-part-info">
                                <div class="part-info-image"><img src="" alt="" width="28" height="28"></div>
                                <div id="part-info">Математика</div>
                            </div>

                        </a>
                    </figure>

                    <figure class="white">
                        <a href="InformationIndex" >
                            <img src="https://im0-tub-ru.yandex.net/i?id=b533aab878422a6598e93585a61f03de&n=33&h=211&w=480" height="50" width="50">
                            <dl>
                                <dt>Информатика</dt>
                                <dd>Информатика - это здорово!</dd>
                            </dl>
                        </a>
                        <div id="wrapper-part-info">
                            <div class="part-info-image"><img src="img/icon-font.svg" alt="" width="28" height="28"></div>
                            <div id="part-info">Информатика</div>
                        </div>
                    </figure>



                </section>

            </div>

        </div>
    </div>
